body {
	margin-left: auto;
	margin-right: auto;
	padding-top: 3.5%;
	padding-left: 4.5%;
	background-color: #fff;
	color: #111;
	max-width: 1000px;
}

        /* Media Query for Mobile Devices */
        @media (max-width: 480px) {
            body {
                width: 80%;
            }
        }
          
        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
            body {
                width: 80%;
            }
        }
          
        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            body {
                width: 80%;
            }
        }
          
        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px){
            body {
                width: 70%;
            }
        }
          
        /* Media Query for Large screens */
        @media (min-width: 1281px) {
            body {
                width: 70%;
            }
        }

::selection {
  color: darkred;
  background: wheat;
}

::-moz-selection {
  color: darkred;
  background: wheat;
}

div {
	display: block;
}

.section {
	margin: 1em;
}

span {
	font-family: monospace;
	font-size: 1em
}

img {
	float: left;
	height: 2em;
	margin-right: 1em
}

.shellnut {
	font-size: 1.5em; 
}