body {
	margin-left: auto;
	margin-right: auto;
	padding-top: 3.5%;
	padding-left: 4.5%;
	background-color: #fff;
	color: #111;
	max-width: 1400px;
	display: block;
	text-align: justify;
    text-justify: auto;
}

        /* Media Query for Mobile Devices */
        @media (max-width: 480px) {
            body {
                width: 80%;
            }
        }
          
        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
            body {
                width: 80%;
            }
        }
          
        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            body {
                width: 80%;
            }
        }
          
        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px){
            body {
                width: 50%;
            }
        }
          
        /* Media Query for Large screens */
        @media (min-width: 1281px) {
            body {
                width: 50%;
            }
        }

h1 {
	text-align: left;
	font-size: 3.5em;
}

#writer {
	margin-left: 2.5%;
}

#researcher {
	margin-left: 2.5%;
}

#clicky {
	cursor: pointer;
}

#www {
	color: #6F411B;
}

#rrr {
	color: #1B486F;
}

a {
	color: inherit;
}

.object {
	display: flex;
	margin-left: -13.5%;
	justify-content: center;
	align-items: center;
	height: 115px;
}

::selection {
  color: darkred;
  background: wheat;
}

::-moz-selection {
  color: darkred;
  background: wheat;
}

#icon {
	margin-left: -13.5%;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
}